<div class="card">
  <div class="card-title">
    Option {{cardNumber}}
  </div>
  <!--  <form>-->
  <div class="d-flex justify-content-between" [formGroup]="subForm">
    <div class="form-section">
      <div class="row mb-2">
        <label for="inputOptionName" class="form-label">Option Title</label>
        <input type="text" class="form-control custom-input" id="inputOptionName" name="name" formControlName="name"
               [ngClass]="(formName?.touched && !formName?.disabled)?(formName?.valid)?'is-valid':'is-invalid':''">
        <div class="invalid-feedback" id="inputOptionTitleFeedback">Option Title is Required</div>
      </div>
      <div class="row mb-2">
        <label for="inputDescription" class="form-label">Description</label>
        <textarea rows="2" class="form-control custom-input" id="inputDescription" name="description"
                  formControlName="description"
                  [ngClass]="(formDescription?.touched && !formDescription?.disabled && formDescription?.value)?(formDescription?.valid)?'is-valid':'is-invalid':''"></textarea>
        <div class="invalid-feedback" id="inputDescriptionFeedback">Description is Required</div>
      </div>
      <div class="row mb-2">
        <label for="inputCost" class="form-label">Cost</label>
        <input type="text" class="form-control custom-input" id="inputCost" name="cost" formControlName="cost"
               [ngClass]="(formCost?.touched && !formCost?.disabled)?(formCost?.valid)?'is-valid':'is-invalid':''">
        <div class="invalid-feedback" id="inputCostFeedback">Cost is Required</div>
      </div>
    </div>
    <div class="button-set">
      <button type="button" class="btn btn-primary cuz-blue-btn px-1 custom-button-remove mb-2" (click)="removeOption()"
              *ngIf="(arrayLength>1 && (openedTask==ADD_TASK || openedTask==UPDATE_TASK))">Remove
      </button>
    </div>
  </div>
  <!--  </form>-->
</div>
