<header class="top-bar">
  <div class="container">
    <a class="logo" routerLink="/"> Travel trek </a>
    <nav class="navigation">
      <ul>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
      <ul class="auth">
        <li style="margin-right: 1rem"><a routerLink="/login">Login</a></li>
        <li><a routerLink="/signup">Sign Up</a></li>
      </ul>
    </nav>
  </div>
</header>
<section class="hero">
  <div class="container">
    <img src="assets/img/landing.png" />
    <h1 class="logo">Travel Trek</h1>
    <p class="tagline">Join a community of 100,000+ travelers</p>
    <a class="btn">Join a Group Trip</a>
  </div>
</section>

<section class="featured-trips">
  <div class="container">
    <h2>Explore with Us</h2>
    <div class="trip-card">
      <img src="assets/img/traveler1.png" alt="Cinque Terre, Italy" />
      <h3>Road trip from Batticaloa</h3>
      <p>May 20 2024</p>
      <a class="button-join">Join Group </a>
    </div>
    <div class="trip-card">
      <img src="assets/img/tr3.png" alt="Cinque Terre, Italy" />
      <h3>Hiking in hanthana</h3>
      <p>May 20 2024</p>
      <a class="button-join">Join Group </a>
    </div>
    <div class="trip-card">
      <img src="assets/img/tr4.png" alt="Cinque Terre, Italy" />
      <h3>Backpacking in Nuweraliya</h3>
      <p>May 13 2024</p>
      <a class="button-join">Join Group </a>
    </div>
    <div class="trip-card">
      <img src="assets/img/traveler2.png" alt="Costa Rica Adventure" />
      <h3>Adventure at ohiya</h3>
      <p>June 10 2024</p>
      <a class="button-join">Join Group </a>
    </div>
  </div>
</section>
<section class="how-it-works" style="margin-top: -1.5rem">
  <div class="container">
    <h2>Why travelers love TripMates</h2>
    <p>Trvel with us... Explore more</p>
    <h2>How it works</h2>

    <div class="card">
      <h4 class="step-number">Search for a trip</h4>
      <p>
        Find a trip you like and join the group. You can also create your own
        trip.
      </p>
    </div>

    <div class="card">
      <h4 class="step-number">Join the group</h4>
      <p>
        Find a trip you like and join the group. You can also create your own
        trip.
      </p>
    </div>

    <div class="card">
      <h4 class="step-number">Meet your trip mates</h4>
      <p>
        You'll be connected with your trip mates via group chat to get to know
        each other and start planning your trip.
      </p>
    </div>

    <div class="card">
      <h4 class="step-number">Plan your trip details</h4>
      <p>
        Plan your trip together, from flights and accommodations to activities
        and meals.
      </p>
    </div>

    <div class="card">
      <h4 class="step-number">Share your trip photos</h4>
      <p>
        Share your trip photos and experiences with the TripMates community.
      </p>
    </div>

    <div class="card">
      <h4 class="step-number">Write a trip review</h4>
      <p>
        Write a review of your trip to help other travelers find the best trips.
      </p>
    </div>
  </div>
</section>
