body {
  font: 400 15px "Didact Gothic", sans-serif;
}

header.top-bar {
  background-color: #fff;
  padding: 1rem 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #3f51b5;
  }

  .navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
      margin: 0 1rem;

      li {
        display: inline-block;

        a {
          text-decoration: none;
          color: #333; /* Update with your desired color */
          padding: 0.5rem 1rem;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: #283776; /* Update hover color */
          }
        }
      }
    }
    .auth {
      li {
        display: inline-block;

        a {
          background-color: #3f51b5;
          color: #fff;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 5px;
          text-decoration: none;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: #c2364c; /* Darker red on hover */
          }
        }
      }
    }
  }
}

section.hero {
  .container {
    position: relative; /* Enable relative positioning for elements */

    img {
      width: max-content; /* Adjust width as needed */
      height: auto; /* Maintain aspect ratio */
      opacity: 0.8; /* Reduce image opacity slightly */
      transition: opacity 0.2s ease-in-out; /* Smooth transition on hover */
    }

    .tagline {
      position: absolute; /* Position tagline absolutely within container */
      top: 50%; /* Center tagline vertically */
      left: 50%; /* Center tagline horizontally */
      transform: translate(
        -50%,
        -50%
      ); /* Account for absolute positioning offset */
      color: #fff; /* White text color (adjust for contrast) */
      font-size: 1.5rem; /* Adjust font size as needed */
      text-align: center; /* Center text alignment */
      opacity: 0; /* Initially hide tagline */
      transition: opacity 0.2s ease-in-out; /* Smooth transition on hover */
    }

    .btn {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #8796e6;
      color: #fff;
      padding: 1rem 2rem;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      opacity: 0.8;
      transition: opacity 0.2s ease-in-out;
    }

    &:hover .tagline,
    &:hover img {
      opacity: 1;
    }
  }
}

section {
  .container {
    margin: 0 auto;
    text-align: center;
  }
}

.hero {
  background-color: #f0f0f0;

  .logo {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: -2rem;
    color: #3f51b5;
  }

  .tagline {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #333; /* Update with your desired color */
  }

  .btn {
    background-color: #3f51b5; /* Update with your desired color */
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #283776; /* Update hover color */
    }
  }
}

.how-it-works {
  background-color: #eee;

  h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #333; /* Update with your desired color */
  }

  p {
    margin-bottom: 2rem;
    color: #666; /* Update with your desired color */
  }

  .steps {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .step-number {
        background-color: #9ba7eb;
        color: #fff;
        padding: 10px 15px;
        margin-right: 1rem;
        border-radius: 2px;
      }
    }
  }
}

.featured-trips {
  background-color: #f0f0f0;

  .trip-card {
    display: inline-block;
    margin: 1rem;
    text-align: left;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 100%;
      max-width: 250px;
      border-radius: 5px;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      color: #333; /* Update with your desired color */
    }

    p {
      font-size: 0.9rem;
      color: #666; /* Update with your desired color */
    }
  }
}

.button-join {
  top: 50%;
  left: 50%;

  background-color: #3f51b5;
  color: #fff;
  padding: 0.4rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
  margin-left: 12rem;
}

.card {
  width: 300px;
  display: inline-block;
  margin: 1rem;
  text-align: left;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05); /* Scale the card slightly on hover */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: #151515;
  padding: 20px 0;
}

.container {
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  width: 50px;
  height: 2px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #ddd;
  display: block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 7px;
}

.footer-col .social-links a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #151515;
  background-color: #fff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
