<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{modalLabel}} Trip Options</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('cross-click')"></button>
  </div>
  <div class="modal-body">
    <app-main-option #addOptionView [supOptionSet]="tripOptionSet" [openedTask]="openedTask">
    </app-main-option>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary cuz-blue-btn px-4 w-25 me-4 custom-button"
            (click)="clickFinish()" *ngIf="openedTask==ADD_TASK || openedTask==UPDATE_TASK">{{finalButtonLabel}}</button>
    <button type="button" class="btn btn-primary cuz-blue-btn px-4 w-25 me-4 custom-button-cancel"
            (click)="clickCancel()">Cancel
    </button>
  </div>
</div>
