<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add Media</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('cross-click')"></button>
    </div>
    <div class="modal-body">
        <div class="wrapper">
          <div class="box" *ngFor="let item of mediaList">
            <button type="button" class="btn-close" aria-label="Close" (click)="removeImage(item.id)"></button>
            <app-image-uploader [openedTask]="openTask" [previewImage]="item.uniqueName"></app-image-uploader>
          </div>

          <div class="box">
            <button type="button" class="btn-close" aria-label="Close" (click)="removeImage('')"></button>
            <app-image-uploader></app-image-uploader>
          </div>

    </div>
    <div class="modal-footer cuz-btn">
      <button type="button" class="btn btn-primary cuz-blue-btn"
              >Save </button>
      <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Close</button>
    </div>
    <ng-template #empty_footer>
      <div class="modal-footer" ></div>
    </ng-template>
  </div>
  