.page-container {
  display: flex;
  flex-direction: column;
  background: url("https://travel-trek-angular-client-assets.s3.ap-southeast-1.amazonaws.com/category-page-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .breadcrumb-header {
    padding: 12px 24px;
    border-bottom: 2px solid #002256;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);

    h5 {
      margin-bottom: 0;
      font-size: 25px;
      font-weight: 700;
      color: #033789;
      margin-left: 34px;
    }
  }

  .sub-container {
    padding: 24px;
    margin: 4px auto;
    min-height: 654px;
    max-width: 1140px;
    .sub-title {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.table-action-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  background: #f8fdff;
  box-shadow: 0px 6px 20px rgba(24, 57, 138, 0.29);
  border-radius: 5px;
  margin-top: 12px;
}

.table-action-set {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  background: #f8fdff;
  margin-top: 12px;
  align-items: baseline;

  .adding-btn {
    display: flex;
    justify-content: flex-end;
    button{
      background-color: var(--app-primary-blue);
      margin-right: 8px;
      &:last-child{
        margin-right: 0;
      }
    }
  }

  .filter-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .search-col{
      margin-right: 50px;
    }
  }
}

.actions {
  a {
    .bi-eye{
      color: var(--app-primary-blue);
    }
    .fa-pencil-square-o{
      color: #1d8506;
    }
    .fa-trash-o{
      color: var(--app-primary-dark-red-500);
    }
    i {
      font-size: 18px;

      &:hover {
        transform: translateY(-0.1em);
        font-size: 22px;
      }
    }
  }
}

hr{
  margin: 20px 0;
  border-top: 2px dashed #888888;
  opacity: 0.25;
}

.custom-button{
  background-color: var(--app-primary-500);
  border-color: var(--app-primary-400);
}
.custom-button-green{
  background-color: var(--app-primary-green-500);
  border-color: var(--app-primary-green-400);
}
:not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active{
  background-color: var(--primary-blue-400);
  border-color: var(--primary-blue-400);
}
.custom-input{
  box-shadow: none;
}

.form-control:focus, .form-select:focus{
  border-color: var(--primary-blue-400);
}
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  box-shadow: none;
}
.form-control:focus , .form-select:focus{
  box-shadow: none;
}
.btn-close:focus {
  box-shadow: none;
}

.upload-media-label{
  font-size: 15px;
  font-weight: 500;
}
.single-row{
  label {
    width: 40%;
  }

  input,
  textarea,
  select{
    width: 58%;
  }
  .invalid-feedback {
    margin-left: 38%;
  }
}
.form-control:disabled {
  background-color: var(--gray-light);
}
.custom-button-green {
  background-color: var(--app-primary-green-500);
  border-color: var(--app-primary-green-400);
}
.ng-dropdown-panel {
  background-color: white;
}
