<div class="page-container">
  <div class="sub-container">
    <div class="table-action-card">
      <div class="sub-title">
        <h4>Trip Categories</h4>
      </div>
      <hr>
      <div class="inner-container">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group mb-3">
              <input type="text" class="form-control custom-input" placeholder="Search..." [(ngModel)]="searchText"
                     maxlength="200">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group mb-3">
              <select class="form-select" id="inputGroupSelect02" [(ngModel)]="searchStatus">
                <option [value]="STATUS_ACTIVE" selected>Active</option>
                <option [value]="STATUS_INACTIVE">Inactive</option>
                <option [value]="STATUS_DELETED">Deleted</option>
              </select>
            </div>
          </div>
        </div>
        <div class="input-group search-btn-group">
          <div class="reset-btn">
            <button class="btn btn-primary" type="button" (click)="resetSearch()">Reset</button>
          </div>
          <div class="search-btn">
            <button class="btn btn-primary" type="button" (click)="searchItems()">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-action-card">
      <div class="row">
        <div class="col-md-6">
          <p class="fw-semibold">Trip Category List</p>
          <p class="fw-light fst-italic">Show <input class="form-control page-row-input" type="number" min="1"
                                                     [(ngModel)]="tableRowCount" (focusout)="pageCountChanged()">
            entries</p></div>
        <div class="col-md-6 add-btn-col">
          <div class="mt-2">
            <div class="input-group adding-btn">
              <button class="btn btn-primary" type="button" (click)="addCategory()"><i
                class="bi bi-file-earmark-plus"></i> Add Category
              </button>
            </div>
          </div>
        </div>
      </div>
      <section class="table">
        <ngx-datatable class="material" tableClass="table table-striped table-bordered table-hover" #catTable
                       [rows]="viewDataWithFeatures"
                       [columns]="columnsWithFeatures"
                       [columnMode]="'force'"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="'auto'"
                       [scrollbarH]="true"
                       [externalPaging]="true"
                       [externalSorting]="false"
                       [count]="paginationData.count"
                       [limit]="paginationData.pageSize"
                       [offset]="paginationData.offset"
                       (page)="pageCallbackAllList($event)">
          <ng-template #actionOne let-row="row" let-rowIndex="rowIndex" let-columnValue="columnValue">
            <div class="actions">
              <a><i class="bi bi-eye" aria-hidden="true" title="View"
                    (click)="viewCategory(row)"></i></a>
              <a><i class="bi bi-pencil-square  text-success" aria-hidden="true" title="Edit"
                    (click)="updateCategory(row)"></i></a>
              <a><i class="bi bi-trash3 text-danger" aria-hidden="true" title="Delete"
                    (click)="removeCategory(row)"></i></a>
            </div>
          </ng-template>
        </ngx-datatable>
      </section>
    </div>
  </div>
</div>
