
    <div class="act-container">
      <div class="account">
        <div class="cards">
          <div class="card-header" *ngIf="!emailSubmitted">
            <p class="text-center font-08-rem mt-13">
              Please enter your email address to receive a password reset code.
            </p>
          </div>
          <div class="card-header" *ngIf="emailSubmitted">
            <p class="text-center font-08-rem mt-13">
              Your activation code has been successfully sent to {{registeredEmail}} <br/>
              Please take a moment to check your inbox and enter the activation code
              you received to reset your password.
            </p>
          </div>
    
          <form [formGroup]="forgotPasswordForm" *ngIf="!emailSubmitted" (ngSubmit)="onSubmitEmail()">
            <div class="card-body">
              <div class="row flex-center">
                <div class="col">
                  <div class="form-floating mb-3">
                    <input
                      type="email"
                      class="form-control"
                      id="floatingInputEmail"
                      placeholder="Email address"
                      formControlName="email"
                    />
                    <label for="floatingInputEmail">Enter Your Email</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-info w-100" [disabled]="forgotPasswordForm.invalid">Next</button>
            </div>
          </form>
    
          <form [formGroup]="otpForm" *ngIf="showOtpForm" (ngSubmit)="onSubmitOtp()">
            <div class="card-body">
              <div class="row flex-center">
                <div class="col">
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="floatingInputOtp"
                      placeholder="OTP"
                      formControlName="otp"
                    />
                    <label for="floatingInputOtp">Enter OTP Code</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      class="form-control"
                      id="floatingInputNewPassword"
                      placeholder="New Password"
                      formControlName="newPassword"
                    />
                    <label for="floatingInputNewPassword">Enter New Password</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-info w-100" [disabled]="otpForm.invalid">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
 
    

  