.page-container {
  display: flex;
  flex-direction: column;
  background: url("https://travel-trek-angular-client-assets.s3.ap-southeast-1.amazonaws.com/category-page-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .breadcrumb-header {
    padding: 12px 24px;
    border-bottom: 2px solid #002256;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);

    h5 {
      margin-bottom: 0;
      font-size: 25px;
      font-weight: 700;
      color: #033789;
      margin-left: 34px;
    }
  }

  .sub-container {
    padding: 24px;
    margin: 4px auto;
    min-height: 654px;
    width: 100%;
    max-width: 1140px;
    .sub-title {
      font-size: 16px;
      font-weight: 600;
    }
  }
}
.inner-container{
  padding: 12px 0;
}

.table-action-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;
  background: #f8fdff;
  box-shadow: 0px 6px 20px rgba(24, 57, 138, 0.29);
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.table-action-set {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background: #f8fdff;
  margin-top: 12px;
  align-items: baseline;

}
.adding-btn {
  display: flex;
  justify-content: flex-end;
  button{
    background-color: var(--app-primary-blue);
  }
}

.add-btn-col{
  display: flex;
  align-items: center;
  justify-content: end;
}

.page-row-input{
  width: 66px;
  display: inline-block;
}

.search-btn-group {
  display: flex;
  justify-content: flex-end;
}

.search-btn {
  display: flex;
  justify-content: flex-end;

  button {
    background-color: var(--app-primary-blue);
  }
}

.reset-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  button {
    background-color: var(--app-primary-dark-red-500);
  }
}

.actions {
  a {
    .bi-eye{
      color: var(--app-primary-blue);
    }
    .fa-pencil-square-o{
      color: #1d8506;
    }
    .fa-trash-o{
      color: var(--app-primary-dark-red-500);
    }
    i {
      font-size: 18px;

      &:hover {
        transform: translateY(-0.1em);
        font-size: 22px;
      }
    }
  }
}

.custom-input{
  box-shadow: none;
}

.form-control:focus, .form-select:focus{
  border-color: var(--primary-blue-400);
}
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  box-shadow: none;
}
.form-control:focus , .form-select:focus{
  box-shadow: none;
}
.form-control:disabled {
  background-color: var(--gray-light);
}

.input-label-hd {
  background-color: var(--primary-blue-100);
}
