<header class="top-bar" style="height: 4.5rem">
  <div class="container" style="margin-top: -1.5rem">
    <img style="width: 100px; height: 100px" src="https://travel-trek-angular-client-assets.s3.ap-southeast-1.amazonaws.com/logo.png"/>

    <nav class="navigation">
      <ul>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/admin/sysadmin-category">Trip Category</a></li>
        <li><a routerLink="/admin/site-content">Site Content</a></li>
        <li><a routerLink="['/']">Home</a></li>
      </ul>
      <ul class="auth">
        <li style="margin-right: 1rem" (click)="login()">
          <a routerLink="/login">Login</a>
        </li>
        <li><a routerLink="/register" (click)="register()">Sign Up</a></li>
      </ul>
    </nav>
  </div>
</header>
