:root {
  --app-primary-blue: #3f51b5;
  --app-primary-dark-red-500: #c2364c;
  --app-primary-dark-red-400: #f55f5f;

  --app-primary-green-500: rgb(25 135 84);
  --app-primary-green-400: rgb(58, 222, 146);

  --primary-blue-50: #ECEEF8;
  --primary-blue-100: #C6CCEB;
  --primary-blue-200: #A0AADE;
  --primary-blue-300: #7B88D1;
  --primary-blue-400: #5566C4;
  --primary-blue-500: #3f51b5;
  --primary-blue-600: #2E3B84;
  --primary-blue-700: #212A5F;
  --primary-blue-800: #141939;
  --primary-blue-900: #070813;

  --gray-light: #F2F2F2;
}
